<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="<%= image_url("smile.png")%>" height="10px"> 
    <title>Blue Tube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.smileURL = "<%= image_url('smile.png') %>";
      window.cameraURL = "<%= image_url('camera.png') %>";
      window.gridURL = "<%= image_url('grid.png') %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%if signed_in?%>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <%end%>
   
  </head>

  

  <body>
    <%= yield %>
  </body>
</html>
